<h1>Public::Customers#show</h1>

<h2><%= @customer.last_name %> <%= @customer.first_name %>
    さんの会員詳細</h2>

<table>
  <tr>
    <th>会員ID</th>
    <td><%= @customer.id %></td>
  </tr>
  <tr>
    <th>氏名</th>
    <td><%= @customer.last_name %> <%= @customer.first_name %></td>
  </tr>
  <tr>
    <th>フリガナ</th>
    <td><%= @customer.last_kana %><%= @customer.first_kana %></td>
  </tr>
  <tr>
    <th>郵便番号</th>
    <td><%= @customer.post_code %></td>
  </tr>
  <tr>
   <th>住所</th>
   <td><%= @customer.address %></td>
  </th>
  <tr>
    <th>電話番号</th>
    <td><%= @customer.phone_number %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @customer.email %></td>
  </tr>ß
  <tr>
    <th>会員ステータス</th>
    <!--ステータスの記述を行う。-->
    <% if @customer.is_deleted == false %>
        <td>有効</td>
    <% else %>
        <td>退会</td>
    <% end %>
  </tr>
</table>



<%= link_to "編集する",edit_public_customer_path(current_customer),class: 'btn btn-success' %>
  <!--履歴一覧のpathに置き換える。　今のところ仮のpath-->
<%= link_to "一覧を見る", public_addresses_path, class: 'btn btn-primary' %>
<%= link_to "一覧を見る", public_orders_path, class: 'btn btn-primary' %>


