<div class="container">
  <div class="row">
    <div class="col-md-3" style="text-align: center; margin-top: 50px;">
      <%= form_with model:@customer, url:admin_customer_path(@customer.id) do |f| %>
      <h2><%= @customer.last_name %> <%= @customer.first_name %>さん<br>の会員情報編集</h2>
    </div>
    <div class="col-md-6" style="margin-top: 50px;">

      <table class="table table-inverse">　
        <tr>
          <td>会員ID</td>
          <td><%= @customer.id %></td>
        </tr>

        <tr>
          <td><%= f.label :氏名 %></td>
          <td>
            <%= f.text_field :last_name %>
            <%= f.text_field :first_name %>
          </td>
        </tr>

        <tr>
          <td><%= f.label :フリガナ %></td>
          <td>
            <%= f.text_field :last_kana %>
            <%= f.text_field :first_kana %>
          </td>
        </tr>

        <tr>
          <td><%= f.label :郵便番号 %></td>
          <td><%= f.text_field :post_code %></td>
        </tr>

        <tr>
          <td><%= f.label :住所 %></td>
          <td><%= f.text_field :address %></td>
        </tr>

        <tr>
          <td><%= f.label :電話番号 %></td>
          <td><%= f.text_field :phone_number %></td>
        </tr>

        <tr>
          <td><%= f.label :メールアドレス %></td>
          <td><%= f.text_field :email %></td>
        </tr>

        <tr>
          <td><%= f.label :会員ステータス %></td>
          <td>
          <%= f.radio_button :is_deleted, :false %>
          <%= f.label :is_deleted, "有効" %>
      
          <%= f.radio_button :is_deleted, :true %>
          <%= f.label :is_deleted, "退会" %>
          </td>
        </tr>

      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="text-align: center;">
      <%= f.submit "変更を保存", class: 'btn btn-success' %>
    </div>
  </div>
</div>
<% end %>