<div class="container">
  <h4>注文履歴詳細</h4>
  <div class="row">
    <div class="col-md-6">
    <table>
      <tr>
        <th>購入者</th>
        <td><%= @order.customer.first_name %><%= @order.customer.last_name %></td>
      </tr>
      <tr>
        <th>注文日</th>
        <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
      <tr>
        <th>配送先</th>
        <td>
          <%= @order.post_code %>
          <%= @order.address %>
        </td>
      </tr>
      <tr>
        <th></th>
        <td><%= @order.name %></td>
      </tr>
      <tr>
        <th>支払方法</th>
        <td><%= @order.payment_method_i18n %></td>
      </tr>
      <tr>
      <%= form_with model: @order, url: admin_order_path(@order) do |f| %>
        <th>注文ステータス</th>
        <td><%= f.select :status, Order.statuses_i18n.invert %></td>
        <td><%= f.submit "更新", class: 'btn btn-success' %></td>
      <% end %>
      </tr>
    </table>

    <table class='table table-hover table-inverse'>
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
        <th>製作ステータス</th>
        <th></th>
      </tr>
      <% @product_orders.each do |product_order| %>
      <tr>
        <td><%= product_order.product.name %></td>
        <td><%= product_order.price %></td>
        <td><%= product_order.quantity %></td>
        <td><%= product_order.subtotal %></td>
        <%= form_with model: product_order, url: admin_order_path(@order) do |f| %>
        <td>
          <%= f.select :making_status, ProductOrder.making_statuses_i18n.invert %>
          <%= f.submit "更新", class: 'btn btn-success' %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </table>
    <table>
      <tr>
        <th>商品合計</th>
        <td><%= @product_orders.sum(&:subtotal) %></td>

      </tr>
      <tr>
        <th>送料</th>
        <td><%= @order.postage %></td>
      </tr>
      <tr>
        <th>請求金額合計</th>
        <td><%= @order.total + @order.postage %></td>
      </tr>

    </table>
    </div>
  </div>
</div>


