
<div class="container">
  <div class="row">
    <div class="col-md-3" style="text-align: center; margin-top: 50px;">
      <h2>
        ショッピング<br>
        カート
      </h2>
    </div>
    <div class="col-md-8">
    <table class='table table-inverse' style="margin-top: 50px;">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>
            <% if customer_signed_in? %>
              <%= link_to public_cart_items_destroy_all_path, method: :delete, class: 'text-dark' do %>
                <i class="fa-solid fa-trash"></i>
              <% end %>
            <% end %>
          </th>
        </tr>
      </thead>
      <thead>
        <tr>
          <th></th>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>個数変更</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |cart_item| %>
        <tr>

          <%= form_with model: cart_item, url: public_cart_item_path(cart_item.id) , method: :patch do |f|%>
          <td><%= image_tag cart_item.product.image, size:"50x50" %></td>
          <td><%= cart_item.product.name %></td>
          <td><%= cart_item.product.with_tax_price %></td>
          <td><%= cart_item.quantity %></td>

            <%= f.hidden_field :product_id, value: cart_item.product_id %>
            <td><%= f.select :quantity, *[1..10] %><br><%= f.submit "変更" %></td>

          <td><%= cart_item.subtotal %></td>
          <td>
            <% if customer_signed_in? %>
              <%= link_to public_cart_item_path(cart_item), method: :delete, class: 'text-dark' do %>
                <i class="fa-solid fa-cart-arrow-down"></i>削除
              <% end %>
            <% end %>
          </td>
          <% end %>

        </tr>
        <% end %>
      </tbody>

      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>合計金額</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= @total %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="text-align: center;">
    <% if @cart_items.exists? %>
      <%= link_to new_public_order_path, class: 'text-dark' do %>
        <i class="fa-solid fa-file-pen"></i>
        注文情報入力
      <% end %>
    <% else %>
    <% end %>
    <br>
    <br>
    <%= link_to public_orders_path, class: 'text-dark' do %>
      <i class="fa-solid fa-clock-rotate-left"></i>
      注文履歴一覧へ
    <% end %>
      <br>
      <br>
    <%= link_to root_path, class: 'text-dark' do %>
      <i class="fa-solid fa-basket-shopping"></i>
      買い物を続ける
    <% end %>
    </div>
  </div>
</div>
