<div class="container">
  <div class="row">
    <div class="col-md-3" style="text-align: center; margin-top: 50px;">
      <h2>新規会員登録</h2>
    </div>
    <div class="col-md-6" style="text-align: center; margin-top: 50px;">


      <%= form_with model: @customer, url: customer_registration_path do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label :氏名 %>
          <br>
          <span>姓</span>
          <%= f.text_field :last_name, :size=>"20" %>
          <span>名</span>
          <%= f.text_field :first_name, :size=>"20" %>
        </div>

        <div class="field">
          <br>
          <span>ｾｲ</span>
          <%= f.text_field :last_kana, :size=>"20" %>
          <span>ﾒｲ</span>
          <%= f.text_field :first_kana, :size=>"20" %>
        </div>

        <div class="field">
          <%= f.label :メールアドレス %>
          <br>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :size=>"40" %>
        </div>

        <div class="field">
          <%= f.label :郵便番号（ハイフンなし） %>
          <br>
          <%= f.text_field :post_code, :size=>"40" %>
        </div>

        <div class="field">
          <%= f.label :住所 %>
          <br>
          <%= f.text_field :address, :size=>"40px" %>
        </div>

        <div class="field">
          <%= f.label :電話番号（ハイフンなし） %>
          <br>
          <%= f.telephone_field :phone_number, :size=>"40" %>
        </div>

        <div class="field">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %>
          <br>
          <%= f.password_field :password, autocomplete: "new-password", :size=>"40" %>
        </div>

        <div class="field">
          <%= f.label :パスワード（確認用） %>
          <br>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", :size=>"40" %>
        </div>
        <br>

        <div class="actions">
          <%= f.submit "新規登録" %>
        </div>
      <% end %>

      <br>
      <h4>既に登録済みの方</h4>
      <%= render "public/shared/links" %>

    </div>
  </div>
</div>
