<h1>商品編集ページです。</h1>

<h2>商品編集</h2>


<table>

<tr>
  <th>商品新規登録</th>
  <th>

    <%= f.text_field :, "商品名" %>
  </th>
</tr>

<tr>
  <th>商品画像</th>
  <th>
  <%= f.file_field :profile_image, class: "form-control-file user_image", accept: 'image/*' %>
  </th>
</tr>

<tr>
  <th>商品名</th>
  <th>

    <%= f.text_field :, "商品名" %>
  </th>
</tr>

<tr>
  <th>商品説明</th>
  <th>

    <%= f.text_area :, "商品名" %>
  </th>
</tr>

<tr>
  <th>ジャンル</th>
  <th>
　セレクトボックスを設置する。
  </th>
</tr>

<tr>
  <th>税抜価格</th>
  <th>
    <%= f.text_field :, "商品名" %>
    円
  </th>
</tr>

<tr>
  <th>販売ステータス</th>
  <th>
  ラジオボックス設置
  </th>
</tr>
</table>

<div>
  <%= f.submit "新規登録", class: 'btn btn-success'%>
</div>