<h1>商品編集ページです。</h1>

<h2>商品編集</h2>

<%= form_with model:product,local:true do |f| %>
<table>
<tr>
  <th><%= f.label :商品画像 %></th>
  <th><%= f.file_field :image, accept: "image/*" %></th>
</tr>

<tr>
  <th><%= f.label :商品名 %></th>
  <th><%= f.text_field :name,  %></th>
</tr>

<tr>
  <th><%= f.label :商品説明 %></th>
  <th><%= f.text_area :introduction,  %></th>
</tr>

<tr>
  <th><%= f.label :ジャンル %></th>
  <th>
　<%= f.collection_select(:genre, Genre.all, :id, :name)  %>
  </th>
</tr>

<tr>
  <th><%= f.label :税抜価格 %></th>
  <th><%= f.text_field :price_without_tax,  %>円</th>
</tr>

<tr>
  <th><%= f.label :販売ステータス %></th>
  <th>
  ラジオボックス設置
  </th>
</tr>
</table>

<div>
  <%= f.submit "変更を保存", class: 'btn btn-success'%>
</div>

<% end %>