<h1>商品一覧のページです。</h1>


<h2>商品一覧</h2>

<table class='table'>
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  
  <tbody>
    <%= products.each do |product| %>|
    <tr>
      <td><%= product.id %></td>
      <td><%= product.name %></td>
      <td><%= product.price_without_tax %></td>
      <!--ジャンルにアソシエーション-->
      <td><%= product.genre %></td>
      <td>ステータスの記述を書く</td>
    </tr>
  </tbody>
</table>


<!--ページネーション入れる-->


