<div class="container">
  <div class="row">
    <div class="col-md-3" style="margin-top: 50px; text-align: center;">
      <h2>商品新規登録</h2>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6" style="margin-top: 50px;">
      <table class="table table-inverse">
        <%= form_with model: @product, url: admin_products_path do |f| %>
        <tr>
          <th><%= f.label :商品画像 %></th>
          <td><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr>
          <th><%= f.label :商品名 %></th>
          <td><%= f.text_field :name, placeholder: "商品名" %></td>
        </tr>
        <tr>
          <th><%= f.label :商品説明 %></th>
          <td><%= f.text_area :introduction, placeholder: "ここに説明文を記述します" %></td>
        </tr>
        <tr>
          <th><%= f.label :ジャンル %></th>
          <td>
            <!--ジャンルから持ってきてジャンルを選択する-->
            <%= f.collection_select(:genre_id, Genre.all, :id, :name, prompt: "--選択してください--")  %>
          </td>
        </tr>
        <tr>
          <th><%= f.label :税抜価格 %></th>
          <td>
            <%= f.text_field :price_without_tax, placeholder: "1000" %>
            円
          </td>
        </tr>
        <tr>
          <th><%= f.label :販売ステータス %></th>
          <td>
            <!--見た目大丈夫　内部のデータ変更-->
            <%= f.radio_button :is_active, :true %>
            <%= f.label :is_active, "販売中" %>
            <%= f.radio_button :is_active, :false %>
            <%= f.label :is_active, "販売停止中" %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" style="text-align: center; margin-top: 10px;">
      <%= f.submit "新規登録", class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>