<div class="container">
  <div class="row">
    <div class="col-md-3" style="margin-top: 50px;">
      <h2>注文情報確認</h2>
       <ol class="nav" style="text-align-center">
          <li style="margin-right: 10px;">1.入力</li>
          <li  class="current" style="margin-right:10px; margin-left: 20px;">2.確認</li>
          <li style="margin-left: 30px;">3.完了</li>
        </ol>
    </div>
    <div class="col-md-8" style="margin-top: 50px;">
      <table class="table table-inverse">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
          <% @cart_items.each do |cart_item| %>
        <tbody>
          <tr>
            <td><%= cart_item.product.name %></td>
            <td></td>
            <td><%= cart_item.quantity %></td>
            <td></td>
          </tr>
        </tbody>
          <% end %>
      </table>
    </div>
    <div class="container" style="margin-top: 30px;">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-4">
          <table class="table table-inverse">
              <tr>
                <th>宛名</th>
                <td><%= current_customer.last_name %> <%= current_customer.first_name %></td>
              </tr>
            <tr>
              <th>支払い方法</th>
              <td><%= @order.payment_method %></td>
            </tr>
            <tr>
              <th>お届け先</th>
              <td><%= @order.post_code %> <%= @order.address %></td>
                </td>
              </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col" style="text-align: center; margin-top: 30px;">
      <%= form_with model: @order_new, url: public_orders_path do |f| %>
      <%= f.hidden_field :customer_id, value: current_customer.id %>
      <%= f.hidden_field :payment_method, value: @order.payment_method %>
      <%= f.hidden_field :postage, value: 800 %>
      <%= f.hidden_field :total, value: @total %>
      <%= f.hidden_field :name, value: @order.name %>
      <%= f.hidden_field :post_code, value: @order.post_code %>
      <%= f.hidden_field :address, value: @order.address %>
      <%= f.hidden_field :status, value: "no_payment" %>
      <%= f.submit "注文確定" %>
      <% end %>
    </div>
  </div>
</div>